:root {
  --color-primario: #05c7f2;
  --color-secundario: #1d1f59;
  --color-terciario: #f20505cb;
  --color-cuarto: #0367a6;
  --acento: #ffd148;
  --color-negro: black;
  --color-blanco: white;
  --color-gris-turquesa: #0e7d96;
  --color-gris-claro: #a0a0a0;
  --color-gris-oscuro: #3f3f3f;
  --color-confirmacion: #007a4c;
}
#app {
  width: 100%;
  height: 100%;
  background-color: var(--color-negro);
  display: grid;
  place-items: center;
}

body {
  height: 100vh;
  margin: 0%;
}

body.bodyInicial {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: var(--color-blanco);
  text-decoration: none;
}
img {
  width: 40%;
  margin: auto;
  display: block;
}
p {
  font-size: 12px;
  font-style: italic;
}

footer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

footer #logoDHS-footer{
  width: 70%;
  position: relative;
  left: 80px;
  bottom:10px;
}
footer #logoBlockly-footer{
  width: 35%;
  position: relative;
  left: 40px;
  bottom:10px;
}

img {
  user-select: none;
  pointer-events: none;
}